//
// Animations
// --------------------------------------------------

@mixin transition($speed, $prop:all, $ease:ease-in) {
  -webkit-transition: $prop $speed $ease;
  -moz-transition: $prop $speed $ease;
  -ms-transition: $prop $speed $ease;
  -o-transition: $prop $speed $ease;
  transition: $prop $speed $ease;
}

.animate {
	transition: all .5s cubic-bezier(0.23, 1, 0.32, 1);
}

.animate-opacity {
  transition: opacity 1s ease;
}


.scaleIn {
	transform: scale(0);
}


@mixin animation_blink() {
    opacity: 1;
    animation: blink 0.7s infinite;
}

@mixin animation_move() {
    bottom: 40px;
    animation: move 0.5s infinite alternate;
}

@mixin animation_scale_font() {
    animation: scale_font 0.5s infinite alternate;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes move {
  from { bottom: 40px; }
  to   { bottom: 20px; }
}

@keyframes scale_font {
  from { font-size: 0.75rem; }
  to   { font-size: 1rem }
}
