//
// Form
// --------------------------------------------------
.textInput {
    border: 1px solid rgba(0, 0, 0, 0.15);
    padding: 0 15px;
    height: 35px;
    width: 100%;
    font-size: 14px;
    outline: none;
    background: $white;
    appearance: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    border-radius: 4px;
}

.textInput--large {
    height: 45px;
    font-size: 16px;
}

.button {
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: none;
    background: transparent;
    border-radius: 99px;
    letter-spacing: .02em;
    padding: 7px 10px;
    margin: 0 5px;
    min-width: 100px;
    margin-top: $leading;
    border: 2px solid rgba($gray-light, .8);
    color: $gray-light;
    text-decoration: none;
    text-transform: uppercase;
    font-size: $font-XS;
    &:hover {
        border-color: $gray-dark;
        color: $gray-dark;
    }
    &.button--primary {
        border: 2px solid rgba($green, .8);
        color: $green;
        &:hover {
            cursor: initial;
            border: 2px solid rgba($green, .8);
            color: $green;
        }
    }
    @media (max-width: $screen-xs-max) {
        font-size: 14px;
    }
}

.button--large {}
