---
layout: default
title: Trung Ho
---
<article class="postWrapper">
    <section class="section--first section--about section--fullpage u-table">
        <div class="section-backgroundImage display-none">
            <div class="post-featuredImage welcome-img"></div>
        </div>
        <div class="section-gradient section-gradient--lighter display-none"></div>
        <div id="welcomeContainer" class="section-title u-tableCell u-verticalAlignMiddle typingAnimation" data-delay="1000">
            <div class="container">
                <h2>Hello, I'm <strong>Trung</strong></h2>
                <div class="postMeta-wrapper">
                    <ul class="postMeta">
                        <li class="postMeta-author">
                            Software Developer - Music Lover
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
<!--     <section class="section--last">
    </section> -->
    <section class="section--postsWrapper">
        <div class="container">
            <div class="blockGroup">
                <div class="section-title">
                    Latest Posts:
                </div>
                <ul class="blockGroup-list">
                    {% for post in site.posts %}
                    <li class="block">
                        <div class="postArticle-wrapper">
                            <article class="postArticle postArticle--short">
                                {% if post.image.feature %}
                                <a href="{{ post.url }}">
                                    <div class="postArticle-image desaturate" style="background-image:url('{{ post.image.feature | prepend: site.baseurl_featured_img }}')">
                                    </div>
                                </a>
                                {% else %}
                                <a href="{{ post.url }}">
                                    <div class="postArticle-image" style="background-image:url('{{site.baseurl}}assets/img/logo-black.svg')">
                                    </div>
                                </a>
                                {% endif %}
                                <a class="postArticle-title" href="{{ post.url }}">{{ post.title }}</a>
                            </article>
                            <div class="block-postMeta">{{ post.date | date_to_string }}</div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </section>
</article>
<script type="text/javascript">
document.querySelector('article').style.display = 'none';
</script>
