---
layout: home
title: Trung Ho (leetrunghoo)
---
<article class="postWrapper home-page">
    <section id="welcome" class="section--first section--about section--fullpage u-table">
        <div class="section-backgroundImage animate-opacity opacity-0">
            <div class="welcome-img"></div>
        </div>
        <div class="section-gradient section-gradient--lighter animate-opacity opacity-0"></div>
        <div id="welcomeContainer" class="section-title u-tableCell u-verticalAlignMiddle typingAnimation animate-color" data-delay="0">
            <div class="container">
                <h2>Hello, I'm <strong>Trung</strong></h2>
                <div class="postMeta-wrapper">Software Developer - Music Lover</div>
            </div>
            <button class="trigger" ></button>
        </div>
    </section>

    {% include aboutme.html %}

    {% include aboutme-detail.html %}

    {% include theysay.html %}

    {% include portfolio.html %}
    
    {% include blogs.html %}

    <footer class="section--footer">
      © 2016 Made by <strong>Trung Ho</strong> with <div class="icon-heart heart-beating"></div>
    </footer>
</article>
