@import "_variables";
@import "_mixins";
@import "_pages";
* {
    // for styling selection color
    &::selection {
        background: $gray-dark;
        color: white;
    }
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

html {
    font-family: $body-primary-font;
    font-size: $baseFontSize;
    color: $text-color;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-feature-settings: "kern" 1;
    -webkit-font-feature-settings: "kern";
    -moz-font-feature-settings: "kern";
    -moz-font-feature-settings: "kern=1";
    padding: 0;
    margin: 0;
}

body {
    padding: 0;
    margin: 0;
}

#container {
    height: 100%;
    width: 100%;
    padding: 10px;
}

a {
    cursor: pointer;
    color: $link-color;
    background: transparent;
    &:visited {
        color: $link-color;
    }
    &:not(.no-underline):not(.button) {
        position: relative;
        text-decoration: none;
        &:before {
            content: "";
            position: absolute;
            width: 100%;
            height: 1px;
            bottom: 0;
            left: 0;
            visibility: hidden;
            transform: scaleX(0);
            transition: all 0.2s ease;
            background-color: $link-hover-color;
        }
        &:hover:before {
            visibility: visible;
            -webkit-transform: scaleX(1);
            transform: scaleX(1);
        }
    }
}

input {
    padding: 5px 10px;
    border-radius: 5px;
    border: $border-solid;
    font-size: $font-XS;
}

.table-container {
   overflow-x: auto;
   padding-bottom: 10px;
}
.table {
    border-collapse: collapse;
    width: 100%;
    th,
    td {
        text-align: left;
        padding: 8px;
        border: 1px solid $gray-lighter;
        text-align: center;
    }
    tr:nth-child(even) {
        background-color: $gray-lightest;
    }
}

.header {
    width: 100%;
    position: absolute;
    height: $header-height;
    top: 0;
    left: 0;
    > div {
        display: inline-block;
        line-height: $header-height;
        vertical-align: middle;
    }
    .header-logo {
        background: url('/img/logo.png') no-repeat center center;
        background-size: 70%;
        width: $header-height;
        height: 100%;
    }
    .header-title {
        font-size: $font-M;
    }
    .header-user {
        float: right;
        font-size: $font-XS;
        padding-right: 20px;
    }
}

.button {
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background: transparent;
    border-radius: 5px;
    letter-spacing: .02em;
    padding: 5px 7px;
    margin: 0 5px;
    min-width: 100px;
    border: 1px solid rgba($gray-light, .8);
    color: $gray-light;
    text-decoration: none;
    text-transform: uppercase;
    font-size: $font-XS;
    &:visited {
        color: $gray-light;
    }
    &:hover {
        border-color: $gray-dark;
        color: $gray-dark;
    }
    &.button--primary {
        border: 1px solid rgba($green, .8);
        color: rgba($green, .8);
        &:hover {
            border: 1px solid $green;
            color: $green;
        }
    }
    @media (max-width: $screen-xs-max) {
        font-size: 14px;
    }
}

// styling focus
a,
input,
select,
.button {
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    &:focus {
        box-shadow: 0 0 5px $green;
        border: $border-focus;
    }
}
input[type="checkbox"]:not(:disabled) {
  cursor: pointer;
}

// for change page animation
.animate-opacity {
    transition: opacity 0.5s ease;
}

.opacity-0 {
    opacity: 0;
}


