<section id="about" class="section--subscribe">
    <div class="container-fluid container--content {% if page.layout == 'home' %} animate-opacity opacity-0 {% endif %}">
        <div class="section-title">
            <h2>About me</h2>
        </div> 
        <div class="row">
            <div class="col-xs-12 col-sm-3 u-alignCenter">
                <img class="author-avatar" src="{{ site.avatar }}" />
            </div>
            <div class="col-xs-12 col-sm-9">
                Hi, my name is Trung Ho. I'm a web developer with 6+ years of professional experience, based in HCMC Vietnam. I develop modern, highly interactive, responsive websites & web apps with cutting-edge technologies. I love learning new things, making new friends and playing musical instruments. Let's get to know each other, drop me a line: <a title="email" href="mailto:leetrunghoo@gmail.com?Subject=Hello%20Trung" target="_blank">leetrunghoo@gmail.com</a> or via Skype: ho_quang_trung
            </div>
        </div>
        <div class="row">
            <ul class="socialAccountList icon-large">
              <li class="col-xs-4 col-sm-2"><a title="facebook" href="https://facebook.com/{{ site.author.facebook }}" class="no-underline icon-facebook" target="_blank"></a></li>
              <li class="col-xs-4 col-sm-2"><a title="twitter" href="https://twitter.com/{{ site.author.twitter }}" class="no-underline icon-twitter" target="_blank"></a></li>
              <li class="col-xs-4 col-sm-2"><a title="linkedin" href="https://linkedin.com/in/{{ site.author.linkedin }}" class="no-underline icon-linkedin" target="_blank"></a></li>
              <li class="col-xs-4 col-sm-2"><a title="github" href="https://github.com/{{ site.author.github }}" class="no-underline icon-github" target="_blank"></a></li>
              <li class="col-xs-4 col-sm-2"><a title="youtube" href="https://www.youtube.com/user/{{ site.author.youtube }}" class="no-underline icon-youtube" target="_blank"></a></li>
              <li class="col-xs-4 col-sm-2"><a title="RSS" href="{{ site.rss }}" class="no-underline icon-rss" target="_blank"></a></li>
            </ul>
        </div>
    </div>
</section>
