<section class="section-about-detail">
    {% assign cv = site.data.cv %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <div class="col-xs-12 col-sm-6 col-md-12 no-padding">
                    <div class="about-block">
                        <h3>Working Experience</h3>
                        <ul class="timeline">
                            {% for work in cv.works %}
                            <li class="">
                                <div class="year">
                                    {{ work.time }}
                                </div>
                                <div class="box-content u-table">
                                    <div class="u-tableCell u-verticalAlignMiddle">
                                        <b>{{ work.company }}</b>
                                        <br/>{{ work.position }}
                                    </div>
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-12 no-padding">
                    <div class="about-block">
                        <h3>Education</h3>
                        <ul class="timeline">
                            {% for edu in cv.education %}
                            <li class="">
                                <div class="year">
                                    {{ edu.time }}
                                </div>
                                <div class="box-content u-table">
                                    <div class="u-tableCell u-verticalAlignMiddle">
                                        <b>{{ edu.school }}</b>
                                        <br/>{{ edu.degree }}
                                    </div>
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6">
                <div class="about-block">
                    <h3>Skills and Techniques</h3> {% for skill in cv.skills %}
                    <h4>{{ skill.type }}</h4> 
                    <p>{{ skill.description }}</p>
                    {% if skill.details %}
                    <ul class="skills">
                        {% for detail in skill.details %}
                        <li><b>{{ detail.name }}:</b> {{ detail.description }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="u-alignCenter font-xs">For more information, please view <a href="/cv/" target="_blank">my CV</a></div>
</section>
