<footer class="section--footer">
  © 2016 Made by <strong>Trung Ho</strong> with <div class="icon-heart heart-beating"></div>
            <!-- <ul class="socialAccountList">
                <li>
                    <a href="https://twitter.com/{{ site.author.twitter }}" class="no-underline icon-twitter" target="_blank"></a>
                </li>
                <li>
                    <a href="https://facebook.com/{{ site.author.facebook }}" class="no-underline icon-facebook" target="_blank"></a>
                </li>
                <li>
                    <a href="https://linkedin.com/in/{{ site.author.linkedin }}" class="no-underline icon-linkedin" target="_blank"></a>
                </li>
                <li>
                    <a href="https://github.com/{{ site.author.github }}" class="no-underline icon-github" target="_blank"></a>
                </li>
                <li>
                    <a href="{{ site.rss }}" class="no-underline icon-rss" target="_blank"></a>
                </li>
            </ul> -->
</footer>
