/*
	for media queries 
*/
$screen-xs:                  480px !default;
// Small screen / tablet
$screen-sm:                  768px !default;
// Medium screen / desktop
$screen-md:                  992px !default;
// Large screen / wide desktop
$screen-lg:                  1200px !default;
// So media queries don't overlap when required, provide a maximum
$screen-xs-max:              ($screen-sm - 1) !default;
$screen-sm-max:              ($screen-md - 1) !default;
$screen-md-max:              ($screen-lg - 1) !default;

/* 
	colors
*/

$gray-darker:           lighten(#000, 13.5%) !default; // #222
$gray-dark:             lighten(#000, 20%) !default;   // #333
$gray:                  lighten(#000, 33.5%) !default; // #555
$gray-light:            lighten(#000, 46.7%) !default; // #777
$gray-lighter:          lighten(#000, 85%) !default; // #d9d9d9
$gray-lightest:			#f2f2f2 !default;

$white:                 #fff !default;
$black:                 #222 !default;
$green:                 #009688 !default;
$blue:                  #4078c0 !default;
$red:                   #b71c1c !default;

$text-color:            rgba(0,0,0,0.8) !default;
$link-color:            $blue !default;
$link-hover-color:      darken($link-color, 15%) !default;


/*
	Typography
*/

$baseFontSize: 18; // in pixels. This would result in 22px on desktop
$baseLineHeight: 1.5; // how large the line height is as a multiple of font size  
$leading: $baseLineHeight * 1rem;
$scale: 1;
$font-XS: 0.8rem;
$font-S: 1rem;
$font-M: 1.333rem;
$font-L: 1.777rem;
$font-XL: 2.369rem;
$font-XXL: 3.157rem;
$body-primary-font: 'Arial', sans-serif;

/*
 	others
*/
$border-solid: 1px solid $gray;
$border-focus: 1px solid $green;
$header-height: 44px;
