.brand-name-container {
    font-size: $font-S;
    position: fixed;
    z-index: 500;
    top: 15px;
    left: 15px;
    width: auto;
    cursor: pointer;
    border-radius: 20px;
    padding: 5px 10px;
    font-family: $title-secondary-font;
    &:hover {
        .brand-name-bg {
            opacity: 1;
        }
    }
    .brand-name-bg {
        background-color: #fff;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 20px;
        opacity: 0.7;
        -webkit-transition: opacity 0.3s;
        -moz-transition: opacity 0.3s;
        transition: opacity 0.3s;
    }
    .brand-name {
        font-weight: bold;
        color: inherit;
        cursor: pointer;
        background: none;
        &:hover {
            > span:nth-child(1)::before {
                max-width: 0;
            }
            > span:nth-child(3)::before {
                max-width: 100%;
            }
        }
        > span {
            position: relative;
            display: inline-block;
            outline: none;
            text-decoration: none;
            letter-spacing: 2px;
            &::before {
                position: absolute;
                top: 0;
                left: 0;
                overflow: hidden;
                max-width: 0;
                content: attr(data-hover);
                -webkit-transition: max-width 0.5s;
                -moz-transition: max-width 0.5s;
                transition: max-width 0.5s;
            }
            &:nth-child(3)::before {
                color: $green;
            }
            &:nth-child(1) {
                color: $green;
                &::before {
                    max-width: 100%;
                    color: black;
                }
            }
        }
        > span:nth-child(2) {
            color: $green;
        }
    }
}

/** typing animation **/

.display-none,
.typingAnimation {
    display: none;
}

.cursor-typing {
    &:after {
        content: "|";
    }
}

.cursor-typed {
    &:after {
        content: "|";
        @include animation_blink();
    }
}

iframe {
    border: 1px solid $gray;
}

figure {
    margin: 0;
}

blockquote {
    margin-left: 20px;
}

table {
  position: relative;
  border-collapse: collapse;
  white-space: nowrap;
  td, th {
    position: relative;
    vertical-align: middle;
    text-overflow: ellipsis;
    border: 1px solid $gray;
    padding: 5px 10px;
  }
}

a {
    display: inline-block;
    position: relative;
    padding-bottom: 3px;
}
a:after {
    content: '';
    display: block;
    margin: auto;
    height: 1px;
    width: 0px;
    background: transparent;
    transition: width .3s ease;
}
a:hover:after {
    width: 100%;
    background: $blue;
}

.top-0 {
    top: 0;
}

.author-avatar {
    height: 120px;
    width: auto;
    border-radius: 10px;
}
