// Override MDL variables in this file, e.g.

//$font-size-base: 14px;
$layout-header-bg-color: white;
$layout-header-text-color: inherit;

/* color  */
$green: #00BFA5;
$gray: #ccc;
$gray-light: #e6e6e6;

$code-font: $baseFontSize;
