<!DOCTYPE html>
<html lang="en-us" class="no-js">
  {% include head.html %}
  <body style="display: none">
    <div class="brand-name-container">
        <div class="brand-name-bg">
        </div>
        <a href="{% if page.url == '/' %}/#top{% else %}/{% endif %}" class="brand-name no-hyphens">
            <span data-hover="lee">lee</span><span>trung</span><span data-hover="hoo">hoo</span>
        </a>
    </div>

    <a name="top"></a>

    {{ content }}

    {% include footer-scripts.html %}
  </body>
</html>
