<!DOCTYPE html>
<html lang="en" prefix="op: http://media.facebook.com/op#">
  {% include head.html %}
  <body>
    <div class="brand-name-container">
        <div class="brand-name-bg">
        </div>
        <a href="{% if page.url == '/' %}/#top{% else %}/{% endif %}" class="brand-name no-hyphens">
            <span data-hover="lee">lee</span><span>trung</span><span data-hover="hoo">hoo</span>
        </a>
    </div>

    <a name="top"></a>

    {{ content }}

    {% include footer-scripts.html %}
  </body>
</html>
