---
layout: default
---
<a name="top"></a>
<div id="container" class="intro-effect-fadeout">
<header class="header">
    <div class="bg-img
              {% if page.bgGradientOpacity == "darker" %}
                gradient-darker
              {% elsif page.bgGradientOpacity == "lighter" %}
                gradient-lighter
              {% endif %}
      " style="background-image: url({{ page.image.feature | prepend: site.baseurl_featured_img }});{% if page.image.style %}{{ page.image.style }}{% endif %}">
    </div>
    <div class="title container container--content">
        <h1>{{ page.title }}</h1>
        <p class="subline">Inspiration for Article Intro Effects</p>
        <p>by <strong>{{ site.author.name }}</strong> &#8212; Posted in <strong>{{ page.categories }}</strong> on <strong><time datetime="{{ page.date }}">
            {{ page.date | date_to_string }}
          </time></strong></p>
    </div>
</header>

<button class="trigger" data-info="Click to see the header effect"><span>Trigger</span></button>

<article class="postWrapper">
  <section class="section--last">
    <div class="container container--content">
      <div class="content-body">

        {{ content }}

      </div>
    </div>
    <hr class="u-clearHr"/>
    <hr class="u-clearHr"/>
    <hr/>
    <div class="container container--content">
      <div class="content-body">
        {% include subscribe.html %}
        {% include comments.html %}
      </div>
    </div>
  </section>
  <footer class="postFooter">
    {% if page.previous.url %}
      <section class="section--prePost is-darkBackgrounded u-table">
        <div class="section-backgroundImage section-backgroundImage--previousPage">
          <img class="post-featuredImage"
          {% if page.previous.image.feature %}
            src="{{ page.previous.image.feature | prepend: site.baseurl_featured_img }}"
          {% endif %}
          style="top:0" alt="">
        </div>
        <div class="section-gradient
        {% if page.previous.bgGradientOpacity == "darker" %}
          section-gradient--darker
        {% elsif page.previous.bgGradientOpacity == "lighter" %}
          section-gradient--lighter
        {% endif %}
        "></div>
        <div class="section-title u-tableCell u-verticalAlignMiddle">
          <div class="container">
            <h4>Next story:</h4>
            <a class="prev" href="{{page.previous.url}}">
              <h2>{{page.previous.title}}</h2>
            </a>
          </div>
        </div>
      </section>
    {% endif %}
  </footer>
</article>

{% include modal.html %}
