---
layout: default
---

{% include sidebar-nav.html %}

<div id="container" class="intro-effect-fadeout content">
<header class="header">
    <div class="bg-img
              {% if page.bgGradientOpacity == "darker" %}
                gradient-darker
              {% elsif page.bgGradientOpacity == "lighter" %}
                gradient-lighter
              {% endif %}
      " style="background-image: url({{ page.image.hero }});{% if page.image.heroStyle %}{{ page.image.heroStyle }}{% endif %}">
    </div>
    <div class="title">
      <div>
          <h1>{{ page.title }}</h1>
          {% if page.showExcerpt == true %}
          <h3 class="subline">{{ page.excerpt }}</h3>
          {% endif %}
          <div class="subline-2">by <strong>{{ site.author.name }}</strong> &#8212; Posted in <strong>{{ page.categories }}</strong> on <strong><time datetime="{{ page.date }}">
              {{ page.date | date_to_string }}
            </time></strong></div>
      </div>
    </div>
</header>

<button class="trigger" ></button>

<article>
  <div class="container container--content">
    <div class="content-body">

      {{ content }}

    </div>
  </div>
  <hr class="u-clearHr"/>
  <hr class="u-clearHr"/>
  <hr/>
  <div class="container container--content">
    <div class="content-body">
      {% include subscribe.html %}
      {% include comments.html %}
    </div>
  </div>
  <footer class="postFooter">
    {% if page.next.url %}
      <section class="section--prePost is-darkBackgrounded u-table">
        <div class="section-backgroundImage section-backgroundImage--nextPage" style="background-image:url({{ page.next.image.hero }})">
        </div>
        <div class="section-gradient
        {% if page.next.bgGradientOpacity == "darker" %}
          section-gradient--darker
        {% elsif page.next.bgGradientOpacity == "lighter" %}
          section-gradient--lighter
        {% endif %}
        "></div>
        <div class="section-title u-tableCell u-verticalAlignMiddle">
          <div class="container">
            <a class="prev" href="{{page.next.url}}">
              <h4>Next story:</h4>
              <h2>{{page.next.title}}</h2>
            </a>
          </div>
        </div>
      </section>
      <footer class="section--footer footer-transparent">
        © 2016 Made by <strong>Trung Ho</strong> with <div class="icon-heart heart-beating"></div>
      </footer>
    {% else %}
      <footer class="section--footer">
        © 2016 Made by <strong>Trung Ho</strong> with <div class="icon-heart heart-beating"></div>
      </footer>
    {% endif %}
  </footer>
</article>

{% include modal.html %}

<script type="text/javascript">
    document.querySelector('.brand-name-container').className += ' hide-on-mobile';
</script>
